// //Vendor
// @import "./vendor/_vendor-dir";

// //Abstracts
// @import "./abstracts/_abstracts-dir";

// //Base Styles
// @import "./base/_base-dir";

// //Components
// @import "./components/_components-dir";

// //Layout
// @import "./layouts/_layouts-dir";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}

.notes-container {
  position: relative;
  min-width: 45%;
  padding: 1rem;
  border-radius: 5px;
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 155px;
    height: 50px;
    top: 11px;
    left: -43px;
    background-color: rgba(236, 236, 236, 0.5);
    border-left: 2px dotted skyblue;
    border-right: 2px dotted skyblue;
    transform: rotate(-45deg);
  }
}
